<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>修改用户信息</title>
    <link rel="stylesheet" th:href="@{/xadmin/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/xadmin/css/xadmin.css}"/>
    <script th:src="@{/xadmin/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/xadmin/js/xadmin.js}"></script>
</head>

<body style="margin-top: 20px;">
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="L_score" class="layui-form-label">分数</label>
            <div class="layui-input-inline">
                <input type="text" id="L_score" name="scoreStr" required=""
                       lay-verify="score" autocomplete="off" class="layui-input" th:value="${score}"
                       readonly="readonly">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="demo1" class="layui-form-label">图片</label>
            <div class="layui-upload">
                <div class="layui-upload-list" style="margin-left: 110px;">
                    <img class="layui-upload-img" id="demo1" width="300px" height="auto" th:src="${path}">
                    <p id="demoText"></p>
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label for="L_remark" class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea id="L_remark" name="remark" required=""
                          lay-verify="remark" autocomplete="off" class="layui-textarea" th:text="${remark}"
                          readonly="readonly"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_time" class="layui-form-label">时间</label>
            <div class="layui-input-inline">
                <input type="text" id="L_time" name="createTime" required=""
                       lay-verify="score" autocomplete="off" class="layui-input" th:value="${createTime}"
                       readonly="readonly">
            </div>
        </div>
    </form>
</div>
</body>
<script th:inline="javascript">
    var imgPath = [[${path}]];
</script>
<script>
    layui.use('layer', function () {
        var $ = layui.jquery;
        $('#demo1').click(function () {
            window.open(imgPath);
        });
    });
</script>
</html>