<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.xhui.awardsystem.dao.ApartmentScoreDao">

    <resultMap id="apartmentScoreMaapper" type="xyz.xhui.awardsystem.model.entity.ApartmentScore">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="remark" column="remark"/>
        <result property="score" column="score"/>
        <result property="room" column="room"/>
        <result property="bed" column="bed"/>
        <result property="apartmentId" column="apartment_id"/>
    </resultMap>

</mapper>