<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.xhui.awardsystem.dao.UserStuDao">

    <resultMap id="userStuMap" type="xyz.xhui.awardsystem.model.entity.SysUserStu">
        <association property="user" column="user_id" select="xyz.xhui.awardsystem.dao.UserDao.findById"/>
    </resultMap>

    <resultMap id="userStuMap2" type="xyz.xhui.awardsystem.model.entity.SysUserStu">
        <id property="id" column="id"/>
        <result property="apartmentId" column="apartment_id"/>
        <result property="bed" column="bed"/>
        <result property="deptId" column="dept_id"/>
        <result property="gradeId" column="grade_id"/>
        <result property="room" column="room"/>
        <association property="user" javaType="xyz.xhui.awardsystem.model.entity.SysUser">
            <id property="id" column="id2"/>
            <result property="username" column="username"/>
            <result property="role" column="role"/>
            <result property="realName" column="real_name"/>
            <result property="email" column="email"/>
            <result property="password" column="password"/>
        </association>
    </resultMap>

    <update id="updateInfo">
        update sys_user_stu
        <trim prefix="set" prefixOverrides=",">
            <if test="apartmentId != null and apartmentId != '' ">
                ,apartment_id = #{apartmentId}
            </if>
            <if test="deptId != null and deptId != '' ">
                ,dept_id = #{deptId}
            </if>
            <if test="gradeId != null and gradeId != '' ">
                ,grade_id = #{gradeId}
            </if>
            <if test="room != null and room != '' ">
                ,room = #{room}
            </if>
            <if test="bed != null and bed != '' ">
                ,bed = #{bed}
            </if>
            ,id = #{userInfoId}
        </trim>
        where id = #{userInfoId}
    </update>
</mapper>