<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.xhui.awardsystem.dao.mybatis.UserUnionMybatisDao">

    <resultMap id="userUnionMap" type="xyz.xhui.awardsystem.model.entity.SysUserUnion">
        <association property="user" column="user_id" select="xyz.xhui.awardsystem.dao.mybatis.UserMybatisDao.findById"/>
    </resultMap>

    <update id="updateInfo">
        update sys_user_union
        <trim prefix="set" prefixOverrides=",">
            <if test="deptId != null and deptId != '' ">
                ,dept_id = #{deptId}
            </if>
            ,id = #{userInfoId}
        </trim>
        where id = #{userInfoId}
    </update>
</mapper>