<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.xhui.awardsystem.dao.mybatis.UserHouseparentMybatisDao">

    <resultMap id="userHouseparentMap" type="xyz.xhui.awardsystem.model.entity.SysUserHouseparent">
        <association property="user" column="user_id" select="xyz.xhui.awardsystem.dao.mybatis.UserMybatisDao.findById"/>
    </resultMap>

    <update id="updateInfo">
        update sys_user_houseparent
        <trim prefix="set" prefixOverrides=",">
            <if test="apartmentId != null and apartmentId != '' ">
                ,apartment_id = #{apartmentId}
            </if>
            ,id = #{userInfoId}
        </trim>
        where id = #{userInfoId}
    </update>
</mapper>