<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/xadmin/css/font.css}">
    <link rel="stylesheet" th:href="@{/xadmin/css/xadmin.css}">
    <script th:src="@{/xadmin/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/xadmin/js/xadmin.js}"></script>
</head>
<body>
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <blockquote class="layui-elem-quote" th:text="'当前时间: '+${nowTime}+'      第'+${nowWeek}+'周'"></blockquote>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">本周宿舍分数</div>
                <div th:if="${#lists.isEmpty(apartmentScoreList)}">
                    <div class="layui-card-body">无</div>
                </div>
                <div th:each="p : ${apartmentScoreList}">
                    <div class="layui-card-body">
                        <li th:text="'分数: '+${p.scoreStr}"></li>
                        <li th:text="'备注: '+${p.remark}"></li>
                        <li th:text="'时间: '+${#dates.format(p.createTime, 'yyyy-MM-dd HH:mm:ss')}"></li>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">本周学生会扣分</div>
                <div th:if="${#lists.isEmpty(unionScoreList)}">
                    <div class="layui-card-body">无</div>
                </div>
                <div th:each="p : ${unionScoreList}">
                    <div class="layui-card-body">
                        <li th:text="'分数: '+${p.scoreStr}"></li>
                        <li th:text="'备注: '+${p.remark}"></li>
                        <li th:text="'时间: '+${#dates.format(p.createTime, 'yyyy-MM-dd HH:mm:ss')}"></li>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">公告</div>
                <div class="layui-card-body">
                    内容
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>